In [1]:
import pandas as pd
df1 = pd.read_fwf('data_doctor_truthful.txt', header=None)

In [14]:
import pandas as pd

from sklearn.model_selection import train_test_split
import sklearn
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from matplotlib import pyplot as plt
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.feature_extraction.text import HashingVectorizer
import itertools
import numpy as np

In [37]:
import matplotlib.pyplot as plt
import numpy as np

from keras import backend as K
from keras.utils import np_utils
from keras.models import Sequential
from keras.layers import Dense, Dropout, LSTM, Embedding, Input, RepeatVector
from keras.optimizers import SGD
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import scikitplot.plotters as skplt

ModuleNotFoundError: No module named 'tensorflow_gpu'

In [6]:
df1.head()

,0,1,2,3,4,5,6
0,Dr. Aboolian and his staff went above and beyo...,NaN,NaN,NaN,NaN,NaN,NaN
1,We moved from California and landed in Calgary...,NaN,NaN,NaN,NaN,NaN,NaN
2,Can't really add anything new to what's alread...,NaN,NaN,NaN,NaN,NaN,NaN
3,Dr. Greyvenstein is awesome. He delivered our...,NaN,NaN,NaN,NaN,NaN,NaN
4,He is so awsome!! I was by chance I found him ...,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
print(df1[0])
df1[1]=1
print(df1)

0      Dr. Aboolian and his staff went above and beyo...
1      We moved from California and landed in Calgary...
2      Can't really add anything new to what's alread...
3      Dr. Greyvenstein is awesome.  He delivered our...
4      He is so awsome!! I was by chance I found him ...
                             ...
195    Dr. Greyvenstein is by far the best physician ...
196    Dr. Greyvenstein is an amazing Dr. He is not o...
197    I have been going to Dr. G for the past 2.5yrs...
198    Dr.Greyvenstein just delivered our third child...
199    I LOVE Dr G. After moving to Clagary and findi...
Name: 0, Length: 200, dtype: object
                                                     0  1    2    3    4    5  \
0    Dr. Aboolian and his staff went above and beyo...  1  NaN  NaN  NaN  NaN
1    We moved from California and landed in Calgary...  1  NaN  NaN  NaN  NaN
2    Can't really add anything new to what's alread...  1  NaN  NaN  NaN  NaN
3    Dr. Greyvenstein is awesome.  He delivered our...  1  NaN  NaN  NaN  NaN
4    He is so awsome!! I was by chance I found him ...  1  NaN  NaN  NaN  NaN
..                                                 ... ..  ...  ...  ...  ...
195  Dr. Greyvenstein is by far the best physician ...  1  NaN  NaN  NaN  NaN
196  Dr. Greyvenstein is an amazing Dr. He is not o...  1  NaN  NaN  NaN  NaN
197  I have been going to Dr. G for the past 2.5yrs...  1  NaN  NaN  NaN  NaN
198  Dr.Greyvenstein just delivered our third child...  1  NaN  NaN  NaN  NaN
199  I LOVE Dr G. After moving to Clagary and findi...  1  NaN  NaN  NaN  NaN

       6
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
..   ...
195  NaN
196  NaN
197  NaN
198  NaN
199  NaN

[200 rows x 7 columns]

In [8]:
df2= pd.read_fwf('data_doctor_deceptive.txt', header=None)
df2[1]=0
print(df2)

                                                    0   1    2    3    4   \
0    Doctor Aboolian is a board-certified plastic s...   0  NaN  NaN  NaN
1    I'll be honest, when I was first looking for d...   0  NaN  NaN  NaN
2    My name is Samantha. I needed to get laser hai...   0  NaN  NaN  NaN
3    I recently visited with Dr. Fernando Luna for ...   0  NaN  NaN  NaN
4    Dr. Fernando Luna cares about and listens to m...   0  NaN  NaN  NaN
..                                                 ...  ..  ...  ...  ...
351  Dr Greyvenstein was able to see me as a same d...   0  NaN  NaN  NaN
352  After going through a series of health related...   0  NaN  NaN  NaN
353  Doctor Ernst Greyvenstein is an amazing physic...   0  NaN  NaN  NaN
354  Dr.Greyvenstein's practice is at Circle Medica...   0  NaN  NaN  NaN
355  After having twins, my varicose veins were rea...   0  NaN  NaN  NaN

      5    6    7    8    9   ...   84   85   86   87   88   89   90   91  \
0    NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4    NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
351  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
352  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
353  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
354  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
355  NaN  NaN  NaN  NaN  NaN  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

      92   93
0    NaN  NaN
1    NaN  NaN
2    NaN  NaN
3    NaN  NaN
4    NaN  NaN
..   ...  ...
351  NaN  NaN
352  NaN  NaN
353  NaN  NaN
354  NaN  NaN
355  NaN  NaN

[356 rows x 94 columns]

In [9]:
frames = [df1, df2]

df = pd.concat(frames)

In [10]:
df.drop(df.iloc[:, 2:94], inplace = True, axis = 1)

In [11]:
print(df)
y=df[1]
print(y)

                                                     0  1
0    Dr. Aboolian and his staff went above and beyo...  1
1    We moved from California and landed in Calgary...  1
2    Can't really add anything new to what's alread...  1
3    Dr. Greyvenstein is awesome.  He delivered our...  1
4    He is so awsome!! I was by chance I found him ...  1
..                                                 ... ..
351  Dr Greyvenstein was able to see me as a same d...  0
352  After going through a series of health related...  0
353  Doctor Ernst Greyvenstein is an amazing physic...  0
354  Dr.Greyvenstein's practice is at Circle Medica...  0
355  After having twins, my varicose veins were rea...  0

[556 rows x 2 columns]
0      1
1      1
2      1
3      1
4      1
      ..
351    0
352    0
353    0
354    0
355    0
Name: 1, Length: 556, dtype: int64

In [28]:
X_train, X_test, y_train, y_test = train_test_split(df[0], y, test_size=0.33)

In [29]:
# Initialize the `count_vectorizer` 
count_vectorizer = CountVectorizer(stop_words='english')

# Fit and transform the training data 
count_train = count_vectorizer.fit_transform(X_train)                  # Learn the vocabulary dictionary and return term-document matrix.

# Transform the test set 
count_test = count_vectorizer.transform(X_test)

# Initialize the `tfidf_vectorizer` 
tfidf_vectorizer = TfidfVectorizer(stop_words='english', max_df=0.7)    # This removes words which appear in more than 70% of the articles

# Fit and transform the training data 
tfidf_train = tfidf_vectorizer.fit_transform(X_train) 

# Transform the test set 
tfidf_test = tfidf_vectorizer.transform(X_test)

# Get the feature names of `tfidf_vectorizer` 
#print(tfidf_vectorizer.get_feature_names()[-10:])

# Get the feature names of `count_vectorizer` 
#print(count_vectorizer.get_feature_names()[:10])

count_df = pd.DataFrame(count_train.A, columns=count_vectorizer.get_feature_names())

tfidf_df = pd.DataFrame(tfidf_train.A, columns=tfidf_vectorizer.get_feature_names())

difference = set(count_df.columns) - set(tfidf_df.columns)

print(difference)

# Check whether the DataFrames are equal
print(count_df.equals(tfidf_df))

print(count_df.head())

print(tfidf_df.head())

{'dr'}
False
   10  100  101  11  12  14  15  150  16  17  ...  yearly  years  yelling  \
0   0    0    0   0   0   0   0    0   0   0  ...       0      0        0
1   0    0    0   0   0   0   0    0   0   0  ...       0      1        0
2   0    0    0   0   0   0   0    0   0   0  ...       0      0        0
3   0    0    0   0   0   0   0    0   0   0  ...       0      0        0
4   0    0    0   0   0   1   0    0   0   0  ...       0      1        0

   yes  young  younger  youngest  youth  youthful  yrs
0    0      0        0         0      0         0    0
1    0      0        0         0      0         0    0
2    0      0        0         0      0         0    0
3    0      0        0         0      0         0    0
4    0      0        0         0      0         0    0

[5 rows x 2969 columns]
    10  100  101   11   12        14   15  150   16   17  ...  yearly  \
0  0.0  0.0  0.0  0.0  0.0  0.000000  0.0  0.0  0.0  0.0  ...     0.0
1  0.0  0.0  0.0  0.0  0.0  0.000000  0.0  0.0  0.0  0.0  ...     0.0
2  0.0  0.0  0.0  0.0  0.0  0.000000  0.0  0.0  0.0  0.0  ...     0.0
3  0.0  0.0  0.0  0.0  0.0  0.000000  0.0  0.0  0.0  0.0  ...     0.0
4  0.0  0.0  0.0  0.0  0.0  0.159169  0.0  0.0  0.0  0.0  ...     0.0

      years  yelling  yes  young  younger  youngest  youth  youthful  yrs
0  0.000000      0.0  0.0    0.0      0.0       0.0    0.0       0.0  0.0
1  0.053859      0.0  0.0    0.0      0.0       0.0    0.0       0.0  0.0
2  0.000000      0.0  0.0    0.0      0.0       0.0    0.0       0.0  0.0
3  0.000000      0.0  0.0    0.0      0.0       0.0    0.0       0.0  0.0
4  0.065546      0.0  0.0    0.0      0.0       0.0    0.0       0.0  0.0

[5 rows x 2968 columns]

In [30]:
clf = MultinomialNB() 

clf.fit(tfidf_train, y_train)                       # Fit Naive Bayes classifier according to X, y

pred = clf.predict(tfidf_test)                     # Perform classification on an array of test vectors X.
score = metrics.accuracy_score(y_test, pred)
print("accuracy:   %0.3f" % score)
cm = metrics.confusion_matrix(y_test, pred)

print(cm)

accuracy:   0.663
[[119   0]
 [ 62   3]]

In [31]:
clf.fit(count_train, y_train)

pred = clf.predict(count_test)
score = metrics.accuracy_score(y_test, pred)
print("accuracy:   %0.3f" % score)
cm = confusion_matrix(y_test, pred)
print(cm)

accuracy:   0.804
[[112   7]
 [ 29  36]]

In [38]:
def baseline_model():
    '''Neural network with 3 hidden layers'''
    model = Sequential()
    model.add(Dense(256, input_dim=300, activation='relu', kernel_initializer='normal'))
    model.add(Dropout(0.3))
    model.add(Dense(256, activation='relu', kernel_initializer='normal'))
    model.add(Dropout(0.5))
    model.add(Dense(80, activation='relu', kernel_initializer='normal'))
    model.add(Dense(2, activation="softmax", kernel_initializer='normal'))

    # gradient descent
    sgd = SGD(lr=0.01, decay=1e-6, momentum=0.9, nesterov=True)
    
    # configure the learning process of the model
    model.compile(loss='categorical_crossentropy', optimizer=sgd, metrics=['accuracy'])
    return model